*{
    margin: 0;
    padding: 0;
}

body {
background-image: url(/img/31903913_hj3.png);      
font-family: Roboto, Arial, Helvetica, sans-serif;
src: url(/fonts/Roboto-Regular.ttf) format("truetype");   
} 

.title-txt{
color: rgb(53, 60, 64);
font-size: 16px;
font-weight: 600; 
}
.white-block{
background: white;
border-radius: 30px;
padding: 20px;
}
.good-title{
font-size: 20px;
font-weight: 600;

}
.credit-gen{
border-radius: 77px;
background: rgb(249, 249, 249);
padding: 4px 8px;
}

.credit{
border-radius: 20px;
background: rgb(110, 244, 157);
padding: 4px 8px;
}
.credit-icon{
margin-left: 50px;
margin-right: 10px;
}
.no-money{
color: rgb(53, 60, 64); 
font-size: 14px;
font-weight: 600;
border-radius: 20px;
background: rgb(255, 240, 240);
padding: 4px 8px;
}
.buy-one{
border-radius: 77px;
background: rgb(255, 222, 222);
margin-right: 2%;
color: red;
padding: 4px 8px;
font-size: 14px;
}

.cart{
border-radius: 77px;
background: rgb(255, 0, 0);
color: white;
padding: 4px 8px;
font-size: 14px;
}

.nav-txt{
color: rgb(53, 60, 64);
font-size: 14px;
font-weight: 400;  
}

.shop-txt{
color: rgb(53, 60, 64);
font-size: 15px;
font-weight: 600;
}
.shop-item-txt{
color: rgb(53, 60, 64);
font-size: 14px;
font-weight: 400;
}
.logo-txt{
color: rgb(53, 60, 64);
font-size: 18px;
font-weight: 400;
}

.img-select{    
width: 15%; 
margin-right: 4%;
gap: 3%;
}

.img-comment{
height: 83px;
width: 83px;    
}
.img-general{   
position: relative;
max-width: 414px; 
}
.img-h{
position: absolute;
right: 5%;
width: 10%;
}
.item-card{
width: 12rem;
}

.button-card{
background-image: url(/img/Frame_39524.png);    
background-repeat: no-repeat;
background-size: cover;
border: 5px solid #dd9ea9;
border-radius: 20px;
color: rgba(0, 0, 0, 0.0);
height: 219px;     
width: 327px; 
}
.img-comm{
border-radius: 12px;
background: rgb(246, 247, 248);
height: 83px;
width: 75%;
}
.comm-txt{
color: rgb(100, 109, 116);
font-size: 14px;
font-weight: 600;

}
.comm-txt-1{
color: rgb(128, 138, 147);
font-size: 10px;
font-weight: 400;
}
 .comm-txt-2{
color: rgb(149, 161, 172);
font-size: 12px;
font-weight: 400;

 }
 .comm-txt-3{
color: rgba(53, 60, 64, 0.66);
font-size: 14px;
font-weight: 500;
 }
 .comm-txt-4{    
color: rgb(53, 60, 64);
font-size: 14px;
font-weight: 500;
 }

.futer-title-txt{
color: rgb(53, 60, 64);
font-size: 20px;
font-weight: 700;

}
.futer-txt{
color: rgb(53, 60, 64);
font-size: 18px;
font-weight: 400;
}

.star-5{
width: 50%;
}

.star-txt{
white-space: nowrap;
}

.phone-black{
position: absolute;
right: 1%;
top: 112%;
bottom: 0%;
}
.buy-txt{
color: rgb(53, 60, 64);
font-size: 24px;
font-weight: 600;
}
.card-img-top{
width: 256px;
}
.card-img-top-2{
width: 100%;
height: 100%;
object-fit: cover;        
}
.price-1{
color: rgb(53, 60, 64);
font-size: 14px;
font-weight: 400;       
}
.sale{
color: rgb(255, 0, 0);
font-size: 16px;
font-weight: 900;
}

.price-2{
color: rgb(53, 60, 64);
font-size: 16px;
font-weight: 700;
}

.card-title{
color: rgb(53, 60, 64);
font-size: 16px;
font-weight: 400;
}

.card-text{
color: rgb(53, 60, 64);
font-size: 14px;
font-weight: 300;
}

.data-txt{
color: rgba(53, 60, 64, 0.66);
font-size: 16px;
font-weight: 700;
}
.star-num{
color: rgb(53, 60, 64);
font-size: 24px;
font-weight: 70%;

}
.centered{
    text-align: center;
}

.mar{
margin-right: 2%;
}
.mab{
margin-bottom: 20px;

}
.mab-15{
margin-bottom: 15px;
}.mab-30{
margin-bottom: 30px;
}

.mar-2{   
 margin-right: 5%;
}
.mab_5{
margin-bottom: 5px;
margin-left: 5%;
}
.mar-52{
margin-right: 52%;
}
.mat{
margin-top: 20px;
}
.mat-80{
margin-top: 80px;
}
.mar_50{
width: 55%;
}
.mal{
margin-left: 35%;
}
.mal-6{
margin-left: 6%;
}
.mal-45{
margin-left: 49%;
}
.mal-5{
margin-left: 55%;
}
.like-g{
margin-top: 6px;
margin-right: 10px;
}

.go-right{
position: absolute;
left:92%;

}

.nav-var{
border-radius: 77px;
background: rgb(243, 243, 244);
}

.nav-a{
border-radius: 77px;
background: rgb(53, 60, 64);
padding: 5px 10px 7px 15px;
text-decoration: none;
}

.price-num{
white-space:nowrap;
}
.star-w{
width: 100px;   
}
.star-t{
padding-top: 1.6%;
}
.vect-img{
height: 32px;
width: 32px; 
}
.loc-img{
height: 40px;
width: 40px;
}